/* #region color */
:root {
    --db-lightgrey: #e5e5e5;
    --db-nastywhite: #f8f9fa;
    --db-bluenav: #051e34;
    --db-op-white: #ffffff21;
    --db-blue: #1b72e8;
    --db-blue-sea: #165bba;
}

.bg_lightgrey {
    background-color: var(--db-lightgrey);
}

.bg_blue_sea {
    background-color: var(--db-blue-sea);
}
/* #endregion color */

img {
    max-width: 100%;
}

/* #region header */
#site_header {
    height: 70px;
}


#site_header .dropdown-menu {
    right: 0;
    left: auto;
}

#site_header form.d-flex {
    width: 80%;
}
/* #endregion header */

/* #region main */
#site_main {
    background-color: var(--db-nastywhite);
}

#side_bar {
    height: calc(100vh - 70px);
    width: 70px;
    background-image: url(../img/sidebar-bg.png);
    background-color: var(--db-bluenav);
}

#side_bar li:hover a {
    background-color: var(--db-op-white);
}
/* ########################### /.SIDE-BAR ############################# */

#main_top {
    height: 250px;
    width: calc(100vw - 70px);
    background-color: var(--db-blue);
}
/* ########################### /.MAIN-TOP ############################# */

#main_bottom {
    height: calc(100vh - 320px);
    overflow-y: auto;
}



/* ########################### /.MAIN-BOTTOM ############################# */



/* #endregion main */



/* responsive */
@media screen and (min-width: 768px) {
    #main_top {
        height: 135px;
    }

    #main_bottom {
        height: calc(100vh - 205px);
    }
  
}


@media screen and (min-width: 992px) {

    #side_bar {
        width: 160px;
    }
    
    #main_top {
        width: calc(100vw - 160px);
    }

    #main_top .offcanvas.offcanvas-end {
        width: 50% !important; 
    }
}